
canvas
{
    display: block;
	border: 1px solid gainsboro;
	background: white;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.chartContainer
{
   
    height: 90vh;
    width:80vw;
}

.dashboard
{
    height: 90vh;
    width:80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

select, label
{
    font-size: 20px;
}

select{
    background-color: rgb(239, 233, 233);
    border-radius: 2.5px;
    padding: 0.2rem 1rem;
    transition: 0.3s;
}

select:hover
{
    background-color: rgb(253, 253, 253);
}

.filterContainer
{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
   
}

.filter
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.filter label
{
    margin-bottom: 3px;
}

#myPieChart
{
    margin-bottom: 20px;
}


@media screen and (max-width: 800px) {
    .logo 
    {
        text-align: center;
        margin-bottom: 10px;
    }

    select
    {
        text-align: center;
       
    }

    .filterContainer
    {
       display: inline;
    }

    .filter
    {        
        margin-bottom: 10px;
    }
  }